# Database
POSTGRES_USER=deepfake
POSTGRES_PASSWORD=changeme
POSTGRES_DB=deepfake_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MLflow
MLFLOW_TRACKING_URI=http://mlflow-server:5000
MLFLOW_EXPERIMENT_NAME=deepfake-detection
MODEL_NAME=deepfake
MODEL_STAGE=Production

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://deepfake:changeme@postgres/deepfake_db
AIRFLOW__CORE__FERNET_KEY=changeme_generate_with_fernet

# Backend
BACKEND_PORT=8000
AIRFLOW_URL=http://airflow-webserver:8080

# Monitoring
GRAFANA_ADMIN_PASSWORD=changeme
